@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}
nav.shrink {
  background: rgba(255, 255, 255, .6);
  height: 100px;
}
nav .logo {
  float: left;
}
nav .logo img {
  height: 80px;
  transition: .5s;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  line-height: 80px;
  color: #262626;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: #f00;
}
section.sec1 {
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/269318/pexels-photo-269318.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}
figure.profilephoto {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/372042/pexels-photo-372042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
figcaption {
  text-align: center;
  color: rgba(0,0,0,.7);
  text-decoration: underline;
  margin-bottom: 0px;
}

section.sec2 {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
section.sec3 {
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/386007/pexels-photo-386007.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
section.content {
  padding: 100px;
}
section.content h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: serif;
  font-weight: bolder;
  text-align: center;
}
section.content p {
  margin: 20px 0 0;
  padding: 0;
  font-size: 1.1em;
  font-family: serif;
  text-indent: 40px;
}
